// +font('roboto-regular', 'roboto-regular-webfont')

// =reg
//   font-family: 'roboto-regular', Arial, sans-serif

=lg
  +r(1199)
    @content
=md
  +r(991)
    @content
=sm
  +r(767)
    @content
=xs
  +r(575)
    @content

=lgmin
  +r(1200)
    @content
=mdmin
  +r(992)
    @content
=smmin
  +r(768)
    @content
=xsmin
  +r(576)
    @content


body
  background: #FFF
  line-height: 1.4
  font-size: 16px
  // +reg
  // color: $c-text
  +no-scroll

.icon
  display: inline-block
