body
  background: #FFF
  line-height: 1.4
  font-size: $fz
  min-width: 320px
  +reg
  color: $c-text
  +no-scroll

input, textarea
  font-family: inherit
  font-size: inherit
  color: inherit
  +placeholder
    font-family: inherit
    font-size: inherit

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit
