---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

  <!-- begin bla -->
  <div class="bla">
    <div class="bla__inner">
      <div class="bla__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ipsum accusamus earum illum reiciendis quae dicta quo asperiores voluptatum, tempore, consequatur, obcaecati! Mollitia minus ea itaque. Atque molestiae quod perspiciatis.
      </div>
    </div>
  </div>
  <!-- end bla -->
  
{% endblock %}


