{% macro btn(combine, href = "#", title, icon, mod, attributes) %}
  {% if combine %}
    {% if href %}
    <a href="{{ href }}" class="btn {{ mod }}" {% for attr, attr_value in attributes %} {{ attr }}="{{ attr_value }}" {% endfor %}>
      <span class="btn__title">{{ title | safe }}</span>
      <span class="btn__icon">{{ icon | safe }}</span>
    </a>
    {% else %}
    <button class="btn {{ mod }}" {% for attr, attr_value in attributes %} {{ attr }}="{{ attr_value }}" {% endfor %}>
      <span class="btn__title">{{ title | safe }}</span>
      <span class="btn__icon">{{ icon | safe }}</span>
    </button>
    {% endif %}

  {% else %}

    {% if href %}
    <a href="{{ href }}" class="btn {{ mod }}" {% for attr, attr_value in attributes %} {{ attr }}="{{ attr_value }}" {% endfor %}>{{ title | safe }}</a>
    {% else %}
    <button class="btn {{ mod }}" {% for attr, attr_value in attributes %} {{ attr }}="{{ attr_value }}" {% endfor %}>{{ title | safe }}</button>
    {% endif %}
  {% endif %}
{% endmacro %}